body{
    background-color:darkgray
    
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color:blue
}
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: black;
}